<header>
	<section class="wrapper nav-flex">
		<nav>
			<a href="#" class="logo">
				<h1 class="section-name">RECIPE HUB</h1>
			</a>
		</nav>
		<nav class="navigation">
			<ul>
				<li><a href="#">RECIPES</a></li>
				<li><a href="#">CATEGORIES</a></li>
				<li><a href="#">VIDEOS</a></li>
			</ul>
		</nav>
		<nav class="login-area">
			<button class="login"><a href="#">LOGIN</a></button>
			<button class="register"><a href="#">REGISTER</a></button>
		</nav>
	</section>
</header>

<main>
	<section class="jumbo">
		<h1>what's cooking today?</h1>
		<div class="search">
			<input type="search" placeholder="find a recipe">
			<button label="FIND">FIND</button>
		</div>
	</section>

	<section class="wrapper product">
		<h2 class="section-name">our delicious collections</h2>
		<article class="card">
			<div class="box"><img src="https://source.unsplash.com/1600x1200?pizza"></div>
			<header class="card-content">
				<span class="card-category chicken">Italian</span>
				<span class="card-header">PIZZA</span>
				<span class="card-desc">Pizza can be cooked in 30 mins.</span>
			</header>
			<footer class="card-content">
				<div class="contributor"><span class="contributor-name">by <a href="#">Bryan</a></span></div>
				<div class="bookmark"></div>
			</footer>
		</article>
		<article class="card">
			<div class="box"><img src="https://source.unsplash.com/1600x1200?chickenbiryani"></div>
			<header class="card-content">
				<span class="card-category chicken">Indian</span>
				<span class="card-header">CHICKEN BIRIYANI</span>
				<span class="card-desc">Biriyani is a cooked rice item with chicken.</span>
			</header>
			<footer class="card-content">
				<div class="contributor"><span class="contributor-name">by <a href="#">Bryan</a></span></div>
				<div class="bookmark"></div>
			</footer>
		</article>
		<article class="card">
			<div class="box"><img src="https://source.unsplash.com/1600x1200?burger"></div>
			<header class="card-content">
				<span class="card-category chicken">Continental</span>
				<span class="card-header">BURGER</span>
				<span class="card-desc">Burger takes 20 mins to prepare.</span>
			</header>
			<footer class="card-content">
				<div class="contributor"><span class="contributor-name">by <a href="#">Bryan</a></span></div>
				<div class="bookmark"></div>
			</footer>
		</article>
		<article class="card">
			<div class="box"><img src="https://source.unsplash.com/1600x1200?chowmein"></div>
			<header class="card-content">
				<span class="card-category chicken">Indian</span>
				<span class="card-header">NOODLES</span>
				<span class="card-desc">Noodles take around 5 mins to prepare.</span>
			</header>
			<footer class="card-content">
				<div class="contributor"><span class="contributor-name">by <a href="#">Bryan</a></span></div>
				<div class="bookmark"></div>
			</footer>
		</article>
		<article class="card">
			<div class="box"><img src="https://source.unsplash.com/1600x1200?sushi"></div>
			<header class="card-content">
				<span class="card-category chicken">Japanese</span>
				<span class="card-header">SUSHI</span>
				<span class="card-desc">Sushi is raw fish with rice.</span>
			</header>
			<footer class="card-content">
				<div class="contributor"><span class="contributor-name">by <a href="#">Bryan</a></span></div>
				<div class="bookmark"></div>
			</footer>
		</article>
		<article class="card">
			<div class="box"><img src="https://source.unsplash.com/1600x1200?halwa"></div>
			<header class="card-content">
				<span class="card-category chicken">Indian</span>
				<span class="card-header">HALWA</span>
				<span class="card-desc">Halwa takes 1hr to prepare.</span>
			</header>
			<footer class="card-content">
				<div class="contributor"><span class="contributor-name">by <a href="#">Bryan</a></span></div>
				<div class="bookmark"></div>
			</footer>
		</article>
		<article class="card">
			<div class="box"><img src="https://source.unsplash.com/1600x1200?frenchfries"></div>
			<header class="card-content">
				<span class="card-category chicken">Indian</span>
				<span class="card-header">FRENCH FRIES</span>
				<span class="card-desc">French fries are fried potatoes.</span>
			</header>
			<footer class="card-content">
				<div class="contributor"><span class="contributor-name">by <a href="#">Bryan</a></span></div>
				<div class="bookmark"></div>
			</footer>
		</article>
		<article class="card">
			<div class="box"><img src="https://source.unsplash.com/1600x1200?icecream"></div>
			<header class="card-content">
				<span class="card-category chicken">Indian</span>
				<span class="card-header">ICE CREAM</span>
				<span class="card-desc">Ice cream is a dessert.</span>
			</header>
			<footer class="card-content">
				<div class="contributor"><span class="contributor-name">by <a href="#">Bryan</a></span></div>
				<div class="bookmark"></div>
			</footer>
		</article>
		
	</section>
</main>

<footer>
	<section class="wrapper">
		<nav>
		</nav>
	</section>
</footer>